
.is-fullheight { height: 100vh; }
.column { background: #fff; color: #a0a0a0; }
.card { background: #000; color: #fff;font-size: 12px !important; }
.card p { color: #fff; font-size: 12px !important; opacity: 1 !important; }
.transparent { background: rgba(255, 255, 255, 0.5) !important; }

.blur::before {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
    right: 0;
    display: block;
    background: url(../images/bg2.jpeg) center no-repeat;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

h1 {
    color: #4d4ae5 !important;
}